body {
  background: #eee;
  font-family: "Nunito", sans-serif;
  /*font-family: "Open Sans", sans-serif;*/
}

#logs {
  cursor: pointer;
}
#logs li:hover + #log-button,
#log-button:hover {
  display: inline-block;
}

#log-button {
  display: none;
  position: absolute;
  top: -3px;
  right: -8px;
  color: #ad1457;
  font-size: 1vw;
  background: #fff;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

#goal-list h3:hover + #goal-button,
#goal-button:hover {
  display: inline-block;
}

#goal-button {
  display: none;
  position: absolute;
  top: -3px;
  right: -8px;
  color: #fff;
  font-size: 1vw;
  background: #ad1457;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}
#main h1 {
  color: #444;
  text-align: center;
}

#main {
  padding: 0px;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}
#log-list {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: #ad1457;
  padding: 30px;
  overflow: auto;
  box-shadow: -2px -3px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  color: #fff;
}

#goal-list {
  margin: 10px;
}

#goal-list h3 {
  display: inline-block;
  margin-top: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #880e4f;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: #880e4f;
}

/*
li {
  border-radius: 4px;
  border: 1px solid #880e4f;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0, 3);
}
*/
