body {
  background: #eee;
  font-family: "Nunito", sans-serif;
  /*font-family: "Open Sans", sans-serif;*/
}

#add-goal {
  width: 90%;
  margin-bottom: 3vh;
  margin-left: 2vw;
  padding-bottom: 3vh;
  border-bottom: solid 2px #444;
}
#add-log {
  width: 50%;
  /*margin-bottom: 3vh;
  margin-left: 2vw;
  padding-bottom: 3vh;*/
  /*background: #eee;*/
  /*background: #880e4f;*/
  padding: 2vw;
  /* position: fixed;
  bottom: 0;
  right: 0;*/
  /*border-bottom: solid 2px #444;*/
}

#logs {
  cursor: pointer;
  margin-bottom: 0;
}
#logs li:hover + #log-button,
#log-button:hover {
  display: inline-block;
}

#logh4 {
  margin-bottom: 0;
}
/*
#logs li:hover {
  background: #880e4f;
}*/
#logs li {
  padding: 0.1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 0;
}

#log-for-add {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
#add-log-button {
  color: #ad1457;
  width: 60%;
  height: 80%;
  background: #880e4f;
  border: 0;
  display: inline;
  cursor: pointer;
}

/*
#log-for-add:hover {
  background: #880e4f;
}*/
#log-button {
  display: none;
  position: absolute;
  top: 1.8px;
  right: 10%;
  color: #ad1457;
  font-size: 1vw;
  background: #fff;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

#goal-list h3:hover + #goal-button,
#goal-button:hover {
  display: inline-block;
}

#goal-button {
  display: none;
  position: absolute;
  top: -3px;
  right: -8px;
  color: #fff;
  font-size: 1vw;
  background: #ad1457;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}
#main h1 {
  color: #444;
  text-align: center;
}

#main {
  padding: 0px;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}
#log-list {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: #ad1457;
  padding: 30px;
  overflow: auto;
  box-shadow: -2px -3px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  color: #fff;
}

#goal-list {
  margin: 10px;
}

#goal-list h3 {
  display: inline-block;
  margin-top: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #880e4f;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: #880e4f;
}

/*
li {
  border-radius: 4px;
  border: 1px solid #880e4f;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0, 3);
}
*/
